@import url("./main.css");

.logo-tipo h2 {
  color: #ac624c;
}

/* header */
.header {
  position: fixed;
  width: 100%;
  max-width: 100vw;
  min-height: 3em;
  background-color: rgba(255, 243, 228, 0.9);
  color: #fff;
  padding: 1em 0px;
  z-index: 2;
}
/* marca */
.marca {
  height: 25em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: #ac624c;
}
.marca {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/farmer.jpg") no-repeat center top fixed;
  background-size: cover;
  background-blend-mode: darken;
}
.marca img {
  width: 10em;
}
.marca h2 {
  font-size: 2em;
}
/* end marca */
main .container {
  justify-content: space-evenly;
  color: #222;
}
/* Sobre a empresa */
main .container .sobre-descricao {
  padding: 2em;
  max-width: 600px;
  background: #eed6c4;
}
main .container .sobre-descricao h1 {
  margin-bottom: 2em;
  text-transform: uppercase;
}
main .container .sobre-descricao h2 {
  margin-bottom: 2em;
  font-size: 2em;
  text-decoration: underline;
}
main .container .sobre-descricao p {
  font-size: 1.1em;
  text-align: justify;
  margin-bottom: 1em;
}
main .container .sobre-descricao a {
  text-decoration: underline;
}
main .container .sobre-descricao span {
  background-color: #ac624c;
  border: 1px solid #ac624c;
  color: #fff;
}
.image-sobre-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em;
  border-radius: 10px;
  overflow: hidden;
}
.image-sobre-wrapper img {
  width: 600px;
}
.bg-light2 {
  background-color: #eed6c4;
  padding-bottom: 4em;
}
.bg-dark1 {
  background-color: #6b4f4f;
  padding-bottom: 4em;
}

.graos {
  width: 40px;
}

.graos img {
  width: 100%;
}
/* analise dos clientes */
.analise-clientes {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.analise-clientes li {
  display: flex;
  max-width: 500px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 2em;
}
.img-wrapper-rounder {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  border: 1px solid #ac624c;
  box-shadow: 0px 0px 10px #ac624c;
}
.img-wrapper-rounder img {
  height: 100%;
  position: absolute;
  top: 0;
  left: -1em;
}
/* Botão hamburguer */
.hamburger {
  display: none;
  flex-flow: column wrap;
  gap: 0.5em;
  cursor: pointer;
  position: unset;
  top: unset;
  right: unset;
}
/* responsivo */
@media (max-width: 1200px) {
  .image-sobre-wrapper img {
    width: 50vw;
  }
  .sobre-descricao {
    width: 50vw;
  }
}
@media (max-width: 800px) {
  .hamburger {
    display: flex;
  }
  .app {
    /* overflow-x: hidden; */
    overflow-y: scroll;
  }
  .marca {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../images/farmer.jpg") no-repeat cente fixed;
    background-size: cover;
    background-blend-mode: darken;
  }
  .header .container {
    flex-direction: row;
  }
  .header nav {
    display: none;
  }
  .container {
    flex-direction: column;
  }
  .image-sobre-wrapper {
    padding: 0;
  }
  .image-sobre-wrapper img {
    width: 70%;
  }
  .analise-clientes {
    overflow-x: scroll;
    justify-content: flex-start;
  }

  .analise-clientes li {
    display: flex;
    min-width: 300px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 2em;
  }
  .sobre-descricao {
    width: 100%;
    padding: 0;
    max-width: 100%;
  }
}
